

<!-- To make this contact form work, create your free access key from https://web3forms.com/
     Then you will get all form submissions in your email inbox. -->
<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="text-3xl font-medium tracking-tight sm:text-5xl">
          <span style="color: #75aa28;">Proyecto</span>
          <span style="color: #ba1242;">Frambuesa</span>
        </h2>
        <p class="text-primary-950/70 dark:text-primary-200/70 max-w-lg text-lg sm:text-xl">
          Estamos ubicados en el valle que se forma entre la pre Cordillera y la Cordillera de los Andes, 
          en el pueblo de Bella Vista, Departamento Iglesia, Provincia de San Juan. <br>
          Escribinos para saber m치s de Proyecto Frambuesa !!! 
        </p> 
        
      </div>
      <form
        action="https://api.web3forms.com/submit"
        method="POST"
        id="form"
        class="needs-validation"
        novalidate
      >
        <input type="hidden" name="access_key" value="5dad4575-401b-4c06-b838-99745c69b6e6" />
        <!-- Create your free access key from https://web3forms.com/ -->
        <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
        <input type="hidden" name="from_name" value="Web ProyectoFrambuesa">
        <input type="hidden" name="redirect" value="https://www.proyectoframbuesa.com.ar/contact">
        <div class="mb-5">
          <input
            type="text"
            placeholder="Nombre Completo"
            required
            class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-4 text-base ring-1 ring-primary-900/40 transition placeholder:text-primary-950/60 hover:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
            name="name"
          />
          <div class="empty-feedback invalid-feedback text-red-400 mt-1 text-sm">
            Por favor ingresar nombre.
          </div>
        </div>
        <div class="mb-5">
          <label for="email_address" class="sr-only">Direcci칩n de Email</label><input
            id="email_address"
            type="email"
            placeholder="Direcci칩n de Email"
            name="email"
            required
            class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-4 text-base ring-1 ring-primary-900/40 transition placeholder:text-primary-950/60 hover:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
          />
          <div class="empty-feedback text-red-400 mt-1 text-sm">Por favor ingresar email.</div>
          <div class="invalid-feedback text-red-400 mt-1 text-sm">
            Por favor ingresar email v치lido.
          </div>
        </div>
        <div class="mb-3">
          <textarea
            name="message"
            required
            placeholder="Tu Mensaje"
            class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-4 text-base ring-1 ring-primary-900/40 transition placeholder:text-primary-950/60 hover:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
          ></textarea>
          <div class="empty-feedback invalid-feedback text-red-400 mt-1 text-sm">
            Por favor ingresar un mensaje.
          </div>
        </div>
        <button
          class="mt-4 inline-flex items-center justify-center rounded-lg border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
          type="submit"
        >
          Enviar
        </button>
        <div id="result" class="mt-3 text-center"></div>
      </form>
    </div>
  </div>
  <style>
    .invalid-feedback,
    .empty-feedback {
      display: none;
    }

    .was-validated :placeholder-shown:invalid ~ .empty-feedback {
      display: block;
    }

    .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
      display: block;
    }

    .is-invalid,
    .was-validated :invalid {
      border-color: #dc3545;
    }
  </style>

  <script is:inline>
    const form = document.getElementById('form');
    const result = document.getElementById('result');

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      form.classList.add('was-validated');
      if (!form.checkValidity()) {
        form.querySelectorAll(':invalid')[0].focus();
        return;
      }
      const formData = new FormData(form);
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);

      result.innerHTML = 'Enviando...';

      fetch('https://api.web3forms.com/submit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
        },
        body: json,
      })
        .then(async (response) => {
          let json = await response.json();
          if (response.status == 200) {
            result.classList.add('text-green-500');
            result.innerHTML = json.message;
          } else {
            console.log(response);
            result.classList.add('text-red-500');
            result.innerHTML = json.message;
          }
        })
        .catch((error) => {
          console.log(error);
          result.innerHTML = 'Algo salio mal!';
        })
        .then(function () {
          form.reset();
          form.classList.remove('was-validated');
          setTimeout(() => {
            result.style.display = 'none';
          }, 5000);
        });
    });
  </script>
</section>
